@import '../modules/classes.scss';
@import '../modules/variables.scss';


.header-mn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999999;
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(5px);
    
}

.header-navbar {
    margin-top: 15px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
    align-items: center;
    
}

.logo-img {
    max-width: 116px;
    width: 100%;
}

.header-menu {
    padding: 10px 5px 0 5px;
}

.header-main-logo {
    border-top: 3px solid $color01-blck;
    padding: 28px 0 0;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-li {
    margin-right: 15px;
    padding-bottom: 37px;
    position: relative;
    &:hover,
    &:active
    {
        .navbar-menu-dropdown,
        .navbar-menu-dropdown-first,
        .navbar-menu-dropdown-third {
            display: block;
        }
    }
}

.navbar-txt {
    &:link,
    &:visited {
    font-size: $fontsize04;
    color: $color01-blck;
    padding: 8px 0;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    letter-spacing: 1px;
    font-family: 'FiraGO Bold';
    transition: all 1s;
    }
}

.navbar-txt {
    &:hover,
    &:active {
        border-top: 3px solid $color01-blck;
        color: $color01-blck;
        transition: all 0.5s;
        letter-spacing: 0px;
        
    }
}

.header-switch-btn {
    margin-bottom: 5px;




    .english-btn {
        font-size: $fontsize02;
        color: $color04;
        font-family: 'Poppins Bold'
    }

    .geo-btn {
        font-size: $fontsize02;
        color: $color01-blck;
        font-family: 'Poppins Bold'
    }
}
//Dropdown menu
// First Dropdown 

.navbar-menu-dropdown {
    background-color: $color02-wht;
    width: 248px;
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    list-style: inside;
}




.navbar-li-dropdown {
    margin:15px 0 15px 20px;
    
}


.navbar-txt-dropdown {
    &:link,
    &:visited {
    font-size: $fontsize03;
    color: $color04;
    padding: 8px 0;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    letter-spacing: 1px;
    font-family: 'Poppins Medium';
    
    }
}

.navbar-txt-dropdown {
    &:hover,
    &:active {
        color: $color01-blck;
    }
}