// @import './../basic/reset.scss';
// @import './../basic/fonts.scss';
// @import './../modules/classes.scss';
// @import './../modules/variables.scss';
// @import './../main/keyframes.scss';
// @import './layout/header.scss';
// @import './layout/navigation.scss';
// @import './layout/footer.scss';
// @import './../main/media.scss';



body {
    margin: 80px 0 0;
    width: 100%;
}

section{
    background-image: url('../images/body-bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    padding-bottom: 50px;
}

.background-images-section {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}
.bg-images-left,
.bg-images-right {
    display: block;
    width: 100%;
    height: 552px;
    margin: 0;
    padding: 0;
}


.vakhtang-img,
.alex-img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    
}


.main-section-heading {
    position: absolute;
    top: 5%;
    left: 25%;
    max-width: 670px;
    width: 100%;
    text-align: center;
    
}




.main-heading-txt {
    font-size: $fontsize07;
    color: $color02-wht;
    line-height: initial;
    padding: 5px;
    font-family: 'FiraGO Regular'
}

.heading-txt-border {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -100%;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid $color02-wht;
}