// font-size variables


$fontsize01 : 12px;
$fontsize02 : 14px;
$fontsize03 : 16px;
$fontsize04 : 18px;
$fontsize05 : 24px;
$fontsize06 : 34px;
$fontsize07 : 40px;
$fontsize08 : 30px;


// color variables

$color01-blck : #040F16;
$color02-wht : #FBFBFF;
$color03 : #EFEFF6;
$color04 : #707070;
$color05 : #040F16;
$color06 : #1E272E;